/* Copyright 2011 Swazi Legacy, Inc. All Rights Reserved.
 *
 * Main theme for the Swazi Legacy web site 
 * Author: trippy@swazilegacy.org (Tony Rippy)
 */

@import url('https://fonts.googleapis.com/css?family=PT+Serif');

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  /* background: #393324 */
  background-image: url('../images/flag.jpg');
  background-size: auto;
}

#sl-container {
  background-color: #fff;
  border:solid 1px #ddd;
  margin-bottom: 10px;
  color: #111;
  padding-top: 20px;
  padding-bottom: 20px;
}

#sl-header h1 {
  font-family: 'PT Serif', serif;
  font-size: 32px;
  text-align: center;
}

#sl-menu {
  font-family: 'PT Serif', serif;
  background-color: rgb(100, 200, 200);
  margin-bottom: 1em;
}

#sl-menu ul {
  /* float: center; */
  margin: auto;
  width: 90%;
  z-index: 2;
}
#sl-menu li {
  display: inline;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  font-variant: small-caps;
  text-decoration: none;
}
#sl-menu li a {
  text-decoration: inherit;
  color: inherit;
}
#sl-menu li a:hover {
  text-decoration: inherit;
  color: #fc0;
}
#sl-menu .selected {
  color: #366;
}
#sl-menu .disabled {
  pointer-events: none;
  cursor: default;
}

#sl-content {
  margin: 20px;
}

#sl-bkg-attribution {
  font-size: 12px;
  text-align: right;
  margin-top: 60px;
  margin-right: 30px;
}
