<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
      <servlet-name>view-cemetery</servlet-name>
      <jsp-file>/view_cemetery.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>view-veteran</servlet-name>
        <jsp-file>/view_veteran.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>edit-veteran</servlet-name>
        <jsp-file>/edit_veteran.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>save-veteran</servlet-name>
        <servlet-class>myapp.SaveVeteranServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contact</servlet-name>
        <jsp-file>/contact.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>add-cemetery</servlet-name>
        <servlet-class>myapp.AddCemeteryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add-veteran</servlet-name>
        <servlet-class>myapp.AddVeteranServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>view-cemetery</servlet-name>
        <url-pattern>/cemetery/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view-veteran</servlet-name>
        <url-pattern>/veteran/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit-veteran</servlet-name>
        <url-pattern>/__edit__/veteran/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>save-veteran</servlet-name>
        <url-pattern>/__save__/veteran</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contact</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add-cemetery</servlet-name>
        <url-pattern>/_debug/add-cemetery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add-veteran</servlet-name>
        <url-pattern>/_debug/add-veteran</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
