<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Oracle Corporation//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>cemeteries</servlet-name>
        <servlet-class>myapp.CemeteriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cemetery</servlet-name>
        <servlet-class>myapp.CemeteryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>veteran</servlet-name>
        <servlet-class>myapp.VeteranServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cemeteries</servlet-name>
        <url-pattern>/json/cemeteries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cemetery</servlet-name>
        <url-pattern>/json/cemetery/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>veteran</servlet-name>
        <url-pattern>/json/veteran/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
